body{
    font-family: 'DM Sans', sans-serif;
    background-color: #FFFFFF;
}

  .element-wrapper {
    width: 698px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.header{
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #170F49;
    margin:50px 0px 12px;
}

.subheader{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width:566px;
    color:#6F6C90;
    margin-bottom: 42px;
}

.form-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 698px;
    height: 606px;
    background-color: #FFFFFF;
    border-radius: 34px;
    border:1px solid #EFF0F7;
    box-shadow: 0px 5px 116px rgba(8,15,52,0.06);

}

.step-marking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
  margin: 33px auto 32px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  line-height: 100px;
  font-size: 16px;
}

.circle-active {
  background-color: #4A3AFF;
  color: #FFFFFF;
}

.circle-inactive {
  background-color: #EFF0F6;
  color: #6F6C90;
}

.line {
  position: relative;
  display: flex;
  align-items: center;
  width: 98px;
  height: 6px;
  background-color: #EFF0F7;
  border-radius: 40px;
}

.progress-bar{
  height: 6px;
  background-color: #4A3AFF;
  border-radius: 40px;
  z-index: 1;
}

.zero-bar {
  flex-grow: 0;
}

.half-bar {
  flex-grow: 0.5;
}

.full-bar {
  flex-grow: 1;
}

hr {
  border: none;
  height: 1px;
  background-color: #D9DBE9;
  width: 596px; /* Set the width to 596px */
}

.form-header{
  color:#170F49;
  font-weight: 700;
  font-size:24px;
  line-height: 35px;
  margin-left:46px;
  margin-top:64px;
}

.form-subheader{
  color:#6F6C90;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-left:46px;
}


.input-container {
  display:flex;
  flex-flow:row wrap;
  margin-left:46px;
  margin-top:39px;
}

.input-children {
  width: 284px;
  margin-right:28px;
  margin-bottom:44px;
}

.input-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  color:#170F49;
  border:none !important;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #EFF0F7;
  border-radius: 46px;
  height:66px;
  margin-top:18px;
  box-shadow:0px 2px 6px rgba(19, 18, 66, 0.07); ;
  position:relative;
}

.input-field {
  flex: 1;
  outline: none;
  font-weight: 400;
  font-size:14px;
  background-color: transparent;
  margin-left:20px;
  color:#6F6C90;
  border:none !important;
}

.focused{
  color:#4A3AFF;
  border: 1px solid #4A3AFF;
}

.invalid{
  color:#962DFF;
  border: 1px solid #962DFF;
}

.error-message {
  position: absolute;
  bottom: -26px;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  color: #962DFF;
}

.input-icon {
  margin-right:20px;
}

.service-container, .budget-container{
  display:flex;
  flex-flow:row wrap;
  margin-top:39px;
  margin-left: 46px;;
}

.service-button, .budget-button{
  display:flex;
  align-items: center;
  width:284px;
  height:115px;
  border:1px solid #EFF0F7;
  box-shadow:0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius:16px;
  box-sizing:border-box;
  margin-right:28px;
  padding:26px;
  margin-bottom:21px;
} 

.service-button.selected, .budget-button.selected{
  border: 2px solid #4A3AFF;
}

.service-button.selected .service-icon-base {
  background-color: rgba(74, 58, 255, 0.15);
}


.service-button.selected .service {
  color: #4A3AFF;
}

.service-icon-base {
  position: relative;
  width: 67px;
  height: 67px;
  background-color: rgba(74, 58, 255, 0.15);
  border-radius: 50%;
}

.service-icon-base img {
  position: relative;
  z-index: 1;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service{
  color:#170F49;
  font-weight: 500;
  font-size:18px;
  margin-left:12px;
}


.custom-radio {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1.2px solid #D9DBE9;
  box-shadow: inset 0px -3px 7px rgba(20, 20, 43, 0.08);
}

input.service-radio:checked + .custom-radio {
  background-color: #4A3AFF;
  border-color: #4A3AFF;
}


.budget-option{
  font-weight: 500;
  font-size:18px;
  color:#170F49;
  margin-left: 13px;
}

.page-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 32px;
  width: 100%;
}

.previous-step-button {
  width:192px;
  height: 60px;
  border:1px solid #4A3AFF;
  border-radius:66px;
  background-color: #FFFFFF;
  color:#4A3AFF;
  font-weight:400;
  font-size:18px;
  margin-right: auto;
  cursor:pointer;
}

.next-step-button, .submit-button {
  background-color: #4A3AFF;
  color: #FFFFFF;
  border: none;
  padding: 20px 40px 21px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 56px;
  cursor: pointer;
  line-height: 20px;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
}

.submit-logo {
  margin: 41px auto 18px;
  justify-content: center;
}

.submit-page {
 display: flex;
 width: 495px;
 margin: 0 auto 12px;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.submit-button {
  margin:12px auto;
  font-weight: 700;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
}

.shake {
  animation: shake 0.5s linear;
}



@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}